*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
}


h1{
    margin: 0;
    padding: 20px 0;
    background: rgb(159, 202, 159);
    text-shadow: 3px 3px 1px black;
    color: #dd812a;
    text-align: center;
    font-size: 30px;
}
ul{
    line-height: 80%;
}
header{
    border: 1px solid black;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}
header > h1{
    background-image: url(../imagens/sobre.jpg);
    background-size:cover;
    color: rgba(40, 231, 23, 0.842);
    text-shadow: 1px 1px 1px  rgb(148, 90, 51);    
    background-attachment: fixed;
    background-size: cover;    
}
#falarcomigo{
    text-align: center;
}
body{
    width: 600px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #A8472D, #543932, #B4f567,#525970, #85A165 );
    background-attachment: fixed;
    padding: 0 20px 20px 20px;
    border: 2px solid black;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
    /* font-size: 16px;
    text-align: justify;
    line-height: 2;
    letter-spacing: 1px;*/
    
}
p, li {
    font-size: 16px;
    text-align: justify;
    line-height: 2;
    letter-spacing: 1px;
    
}
/*.criaborda{
    border: 4px solid #666; 
    padding: .5em;
}
.formataborda1{
    border-color: orange;
    font-weight: bold;
}
.formataborda2{
    border-color: red;
    font-weight: bold;
}*/
html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    /*background-image: linear-gradient(30deg, #85A165, #525970, #B4f567, #543932, #A8472D);*/
    background-image: radial-gradient(circle, #85A165, #525970 53%, #B4f567, #543932, #A8472D);
    background-attachment: fixed;
  }
  img {
    display: block;
    margin: 0 auto;
  }